<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <title>Registration Page</title>
</head>

<body>
    <div class="container">
        <h2>Registration Form </h2>
        <form action="/signup" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
          </form>
          <a href="/index">GO</a>
        <div id="error-message"></div>
    </div>
    <script src="{{ url_for('static', filename='signup.js') }}"></script>
</body>

</html>
